@use "../abstracts/" as *;

@mixin link($color) {
  font-weight: bold;
  color: darken($color, 10%);
  text-decoration: underline;
}

.link- {
  &blue {
    @include link($color-blue);
  }
  &purple {
    @include link($color-purple);
  }
}
