@use "../abstracts/" as *;

.question {
    width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .question-title {
        width: 90%;
        background-color: $color-lightblue;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-style: solid;
        border-color: $color-black;
        border-radius: $border-radius-m;
        border-width: $border-width-m;
        margin: 1rem;
        padding: 1rem;
        font-size: 1.3rem;
        display: block;
    }
}