@use "../abstracts" as *;

@mixin responseBtn($bg-color) {
  background-color: $bg-color;
  width: 100%;
  padding: 1rem;
  border-radius: $border-radius-medium;
  border: 1px solid $color-black;
  border-width: $border-width-m;
  display: flex;
  align-items: center;
  gap: 1rem;

  .response {
    &--checkbox {
      input {
        display: none;

        &:checked+label {
          background-color: $color-green ;

          img {
            display: block;
          }
        }
      }

      label {
        width: 3rem;
        height: 3rem;
        background-color: $color-cream;
        border: 2px solid $color-black;
        border-radius: 50%;
        display: block;
        transition: all 0.1s;
        position: relative;
        cursor: pointer;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: none;
          width: 75%;
        }
      }


    }

    &--text {
      width: 100%;
      line-height: 1.5rem;
      overflow-wrap: break-word;
      word-wrap: break-word;
      white-space: pre-wrap;
      word-break: break-word;
      color: $color-white;

      &:focus-visible {
        outline: none;
      }
    }

    &--cross {
      width: 2rem;
    }
  }
}