@use "../abstracts/" as *;

input[type="radio"] {
  counter-increment: radios;
  appearance: none;
  display: none;
  margin: 0;

  &:checked {
    display: block;
  }

  &::before {
    content: attr(title);
    display: block;
    height: 28px;
  }
}

.select {
  position: relative;
  width: 15rem;

  &[open] {
    z-index: 1;

    summary {
      border-color: $color-blue;
      border-radius: 0;
      border-top-left-radius: $border-radius-m;
      border-top-right-radius: $border-radius-m;

      &:before {
        content: "";
        background: transparent;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &:after {
        transform: translate(-50%, -50%) rotate(0deg);
      }
    }

    ul {
      border-color: $color-blue;

      li {
        border-color: $color-blue;
      }
    }
  }

  summary {
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    background-color: $color-cream;
    border-width: $border-width-m;
    border-color: $color-black;
    border-style: solid;
    border-radius: $border-radius-m;
    list-style: none;
    transition: all 0.2s, border-color 0.3s;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:focus-visible {
      border-color: $color-blue;
      outline: none;
    }

    &::-webkit-details-marker {
      display: none;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(-50%, -50%) rotate(90deg);
      width: 1.5rem;
      height: 1.5rem;
      background: url("/img/utils/arrow.svg") no-repeat center;
      transform-origin: center center;
      transition: transform ease-in-out 100ms;
    }
  }

  ul {
    transform: translateY(-2px);
    position: absolute;
    width: calc(100% - 0.25rem);
    background-color: $color-cream;
    border-width: 0 2px 4px 2px;
    border-color: $color-black;
    border-style: solid;
    border-top: 0;
    border-bottom-left-radius: $border-radius-m;
    border-bottom-right-radius: $border-radius-m;
    transition: all 0.2s, border-color 0.3s;

    li {
      border-bottom: 2px solid $color-black;
      transition: all 0.25s;
      transition: all 0.2s, border-color 0.3s;

      &:hover {
        background-color: darken($color-cream, 7%);
      }

      &:last-child {
        border-bottom: none;
        border-radius: $border-radius-m;
      }

      label {
        height: 28px;
        width: 100%;
        padding: 0.5rem 1.2rem;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
