input[type="radio"] {
  counter-increment: radios;
  appearance: none;
  display: none;

  &:checked {
    display: inline;
  }

  &:after {
    content: attr(title);
    display: inline;
    font-size: 1rem;
  }
}

.select {
  position: relative;
  width: 15rem;

  &[open] {
    z-index: 1;
    transform: translateY(-1px);

    summary {
      border-width: 2px 2px 2px 2px;
      border-radius: 0;
      border-top-left-radius: $border-radius-medium;
      border-top-right-radius: $border-radius-medium;

      &:before {
        content: "";
        width: 100vw;
        height: 100vh;
        background: transparent;
        position: fixed;
        top: 0;
        left: 0;
      }

      &:after {
        transform: rotate(0deg);
      }
    }
  }

  summary {
    width: calc(100% - 1.55rem);
    padding: 0.8rem;
    cursor: pointer;
    background-color: $color-cream;
    border-width: $border-width-m;
    border-color: $color-black;
    border-style: solid;
    border-radius: $border-radius-medium;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }

    &:after {
      content: "";
      float: right;
      width: 1.5rem;
      height: 1.5rem;
      background: url("../../../public/img/utils/arrow.svg") no-repeat center;
      transform: rotate(90deg);
      transform-origin: center center;
      transition: transform ease-in-out 100ms;
    }
  }

  ul {
    position: absolute;
    width: 100%;
    background-color: $color-cream;
    background-color: $color-cream;
    border-width: 0 2px 4px 2px;
    border-color: $color-black;
    border-style: solid;
    border-bottom-left-radius: $border-radius-medium;
    border-bottom-right-radius: $border-radius-medium;

    li {
      border-bottom: 2px solid $color-black;

      &:hover {
        background-color: darken($color-cream, 7%);
      }

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom-left-radius: $border-radius-medium;
        border-bottom-right-radius: $border-radius-medium;
        padding-bottom: 0;
        border-bottom: none;
      }

      label {
        width: 100%;
        padding: 0.9rem 1.3rem;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
