// Background Color / Image: 

$bg-img-1: url('/public/img/bg/homepage.svg'); // Homepage Background
$bg-img-2: url('/public/img/bg/generation.svg'); // Kahoot Geenration Background
$bg-img-3: url('/public/img/bg/quizz.svg'); // Quizz Background
$bg-img-4: url('/public/img/bg/register.svg'); // Register Background
$bg-img-5: url('/public/img/bg/login.svg'); // Login Background
$bg-img-6: url('/public/img/bg/dashboard.svg'); // Dashboard Background

$bg-form: $color-lightblue;
$bg-input: $color-cream;
$bg-btn-primary: $color-purple;
$bg-btn-confirm: $color-orange;