@use "../abstracts/" as *;

.main-container {
  padding: 3.5rem;
  background-color: $color-cream;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: $color-black solid 1px;
  border-width: $border-width-xl;
  border-radius: $border-radius-high;
  box-shadow: $shadow-thick;
}

.not-align-container {
  margin: 5rem 0;
  align-self: start;
}