@use "../abstracts" as *;

:root {
  font-size: 16px;
}

* {
  user-select: none;
}

h1,
h2,
h3,
h4,
span,
p,
a,
i {
  color: $color-black;
}

* {
  font-family: $font-body;
  font-size: $font-xs;
  font-weight: 300;
}

h1 {
  font-family: $font-heading;
  font-size: $font-xl;
  font-weight: 700;
}

h2 {
  font-family: $font-heading;
  font-size: $font-l;
  font-weight: 700;
}

h3 {
  font-family: $font-heading;
  font-size: $font-m;
  font-weight: 700;
}

h4 {
  font-family: $font-heading;
  font-size: $font-s;
  font-weight: 700;
}

button,
input[type="button"],
input[type="checkbox"],
input[type="submit"],
a {
  cursor: pointer;
  border: none;
}

body {
  background-size: cover;
  background-position: center calc(100% + $nav-height);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip: border-box;
}

main {
  overflow-x: hidden;
  transform: translateY($nav-height);
  height: calc(100% - $nav-height);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

strong {
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;

  &-track {
    background-color: $color-cream;
  }

  &-thumb {
    background-color: lighten($color-black, 40%);
    border-radius: $border-radius-l;

    &:active {
      background-color: lighten($color-black, 30%);
    }
  }
}
