@use "../abstracts/" as *;

section {
  margin: 5rem 0;
  width: 60% !important;
  text-align: center;
  padding: 3.5rem 7rem !important;
  align-self: start;
  gap: 3rem;

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    p {
      width: 75%;
    }

    iframe {
      width: 560px;
      height: 315px;
      border-radius: $border-radius-medium;
      border: solid $color-black 1px;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.7rem;

      h3 {
        text-decoration: underline;
      }

      ol {
        margin-left: 10%;
        text-align: start;
        list-style: numeric;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }
}
