@use "../abstracts/" as *;

.main-container-lightblue {
  background-color: $color-lightblue;
  padding: 3.5rem;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: $color-black solid 1px;
  border-width: $border-width-xl;
  border-radius: $border-radius-l;
  box-shadow: $shadow-thick;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
