@use '../abstracts/' as *;

.question-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .question-block {
        .question-block-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .question-block-title {
                font-size: $font-s;
            }

            .question-block-actions {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
            }
        }
    }
}