@use "../abstracts/" as *;

.show-container {
  gap: 1rem;
}

.kahoot_doesnt_exist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.kahoot-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  h2 {
    padding: 0.5rem;
    font-size: $font-s;
    border-style: solid;
    border-color: $color-black;
    border-width: $border-width-m;
    border-radius: $border-radius-m;
  }
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .question-block {
    .question-block-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .question-block-title {
        font-size: $font-s;
      }

      .question-block-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}

.download-block {
  display: flex;
  gap: 1rem;

  a,
  button {
    width: 285px;
  }
}