$color-white: #fff;
$color-black: #000;
$color-cream: #F7F4E8;
$color-lightblue: #9AC3EF;
$color-blue: #1298F1;
$color-orange: #FFA41C;
$color-purple: #B97BF1;
$color-green: #3BB143;
$color-red: #E21B3C;