@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Mitr:wght@300&display=swap');

// Font-Sizing: 

$font-xl: 2.9rem;
$font-l: 2.4rem;
$font-m: 2rem;
$font-s: 1.7rem;
$font-xs: 1rem;

// Font-Family:

$font-heading: "Madimi One", sans-serif;
$font-body: "Mitr", sans-serif;