@use "./colors" as *;

//nav height
$nav-height: 99.8px;

//Border size
$border-width-m: 2px 2px 4px 2px;
$border-width-l: 2px 2px 8px 2px;
$border-width-xl: 2px 2px 10px 2px;

//Border radius
$border-radius-l: 20px;
$border-radius-m: 10px;

//Box Shadow
$shadow-thick: 0px 4px 200px 30px rgba(0, 0, 0, 0.4);
$shadow-light: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);