@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Mitr:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "Mitr", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
h1 {
  font-family: "Madimi One", sans-serif;
  font-size: 2.9rem;
  font-weight: 700;
}
h2 {
  font-size: 2.4rem;
  font-weight: 700;
}
h3 {
  font-size: 2rem;
  font-weight: 700;
}
h4 {
  font-size: 1.7rem;
  font-weight: 700;
}
